{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

         <div class="well"> <h1 class="page-header">Les soirées Code</h1>    <p>Organisées tous les jeudi soir (hors vacances scolaires), de 20h à minuit, les soirées code permettent de rassembler toutes personnes intéréssées par la programmation. Elles peuvent ainsi avancer sur des projets personnels ou de groupe, ou en proposer, tout en profitant de l'aide des personnes présentes et du bureau. </p>
            <p>Venir au soirée Code, c'est bénéficier à la fois d'un environnement de travail calme et convival et de l'expérience des membres du club.
                <br />N'hésitez pas à nous contacter (<a href="./contact.php">ici</a>)
                pour tout renseignement ou proposition de projet. </p>

         </div>
        <div class="row featurette">
            <div class="panel panel-primary" >
                <div class="panel-heading"><h2>Actualités</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>Soirée Code en BL 006</h3>          <p>A partir du 29 Septembre 2016, et ce durant toute l'année scolaire, les soirées Code auront lieu tous les jeudi (hors vacances) le jeudi de 20h à minuit en BL 006. </p>
                            <p>Il est conseillé d'amener une multiprise si possible, en plus de son ordinateur et de son chargeur évidemment.</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="" alt="" class="affiche_accueil"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>Amphi de présentation le 22 Septembre 2016</h3>
                            <p>Redécouvrez le club code lors de l'amphi de présentation de <a href="minet.net">MiNET</a> et de ses clubs (dont le club code) ce jeudi en Amphi 10 à 20h. Nous présenterons une deuxième fois notre Club et ses projets, avant de se déplacer en BL 005 pour notre soirée code habituelle.</p>
                            <p>Pour ceux qui ne peuvent pas venir ce soir là, cela ne vous empêche pas de venir nous voir à un autre moment ou de nous contacter pour poser vos questions et nous rejoindre!</p>
                        </div>
                        <div class="col-sm-4"><img src="" alt="" class="affiche_accueil"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>Première soirée code le 15 Septembre 2016</h3>
                            <p>Cette première soirée se déroulera en deux temps. Dans en premier temps, nous présenterons les buts et projets du Club Code et nous répondrons aux éventuelles questions des personnes présentes dans un second temps.</p>
                        </div>
                        <div class="col-sm-4"><img src="" alt="" class="affiche_accueil"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}