{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <br>
        <div class="col-sm-8">

            <div class="well">

                <h2 class="page-header">Bienvenue sur le site du Club Code</h2>
                <p> Le Club Code est le club de programmation de <a href="https://www.telecom-sudparis.eu" target="_blank">Télécom SudParis</a> et <a href="https://www.telecom-em.eu/">Télécom École de Management</a>.</p>


            </div>



            <div class="panel panel-primary" >
                <div class="panel-heading"><h2>Actualités</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8" style="margin-bottom: 20px;">
                            <h3>Soirée Code en BL 006</h3>


                            <p>A partir du 29 Septembre 2016, et ce durant toute l'année scolaire, les soirées Code auront lieu tous les jeudi (hors vacances) le jeudi de 20h à minuit en BL 006. </p>
                            <p>Il est conseillé d'amener une multiprise si possible, en plus de son ordinateur et de son chargeur évidemment.</p>
                        </div>
                        <div class="col-sm-4"><img src="img/affiche_soiree_code.png" alt="" class="affiche_accueil"/>
                        </div>

                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-8" style="margin-bottom: 20px;">
                            <h3>Amphi de présentation le 22 Septembre 2016</h3>

                            <p>Redécouvrez le club code lors de l'amphi de présentation de <a href="minet.net">MiNET</a> et de ses clubs (dont le club code) ce jeudi en Amphi 10 à 20h. Nous présenterons une deuxième fois notre Club et ses projets, avant de se déplacer en BL 005 pour notre soirée code habituelle.</p>
                            <p>Pour ceux qui ne peuvent pas venir ce soir là, cela ne vous empêche pas de venir nous voir à un autre moment ou de nous contacter pour poser vos questions et nous rejoindre!</p>
                        </div>
                        <div class="col-sm-4"><img src="img/affiche_presentation_minet2016.jpg"     alt="" class="affiche_accueil"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8" style="margin-bottom: 20px;">
                            <h3>Première soirée code le 15 Septembre 2016</h3>

                            <p>Cette première soirée se déroulera en deux temps. Dans en premier temps, nous présenterons les buts et projets du Club Code et nous répondrons aux éventuelles questions des personnes présentes dans un second temps.</p>
                        </div>
                        <div class="col-sm-4"><img src="img/affiche_presentation_club_code2016.jpg" alt="" class="affiche_accueil"/>
                        </div>
                    </div>


                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Nos derniers projets</h2></div>
                <div class="panel-body">

                    <div class="col-md-6">

                        <h3>Développement du site web en cours</h3>
                        <p>Développement côté Back et Front End. Aucune compétence requise.</p><p>Technologies utilisées : HTML, CSS, JavaScript, PHP avec les frameworks Bootstrap, Jquery, Symfony.</p>
                        <p><a class="btn" href="#" role="button">Plus de détails »</a></p>

                    </div>
                    <div class="col-md-6">
                        <h3>Clotûre du projet MakeItMagic</h3>
                        <p>MakeITMagic est un projet visant à permettre aux enfants d'&Eacute;vry d'avoir accès à la programmation informatique gratuitement en organisant des ateliers amusants de programmation ouverts à tous dans les médiathèques d'&Eacute;vry.</p>

                        <p><a class="btn" href="makeITmagic.php" role="button">Plus de détails »</a></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="well"><h2>Derniers Tweets</h2><a class="twitter-timeline text-center" data- data-height="35em" href="https://twitter.com/clubcodetmsp">Tweets by @Club_Code</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
            <div class="well" id="calendrier_part"><h2>Agenda</h2><img src="" alt="" /><p><iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23FFFFFF&amp;src=clubcodetmsp%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FParis" style="border-width:0" width="100%" height="" frameborder="0" scrolling="no"></iframe></p></div>
            <div class="well" id="contact"><h2>Nous contacter</h2>      <p>Mail: <a href="mailto:club.code@tem-tsp.eu">club.code@tem-tsp.eu</a><br />Courrier : Club Code<br />Télécom &amp; Management SudParis<br />9 Rue Charles Fourier<br />91 011 Évry CEDEX</p></div>
            <div  class="well" id="partenaires"><h2>Partenaires</h2><img src="http://minet.net/static/images/logos/minet.png" alt="" /></div>



        </div>
    </div>
    </div>




{% endblock %}
