{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Présentation</h2></div>
        <div class="panel-body">
            <div class="row">
            <div class="col-sm-7">

                <p>Le Club Code est le club de programmation de <a href="https://www.telecom-sudparis.eu" target="_blank">Télécom SudParis</a> et <a href="https://www.telecom-em.eu/">Télécom École de Management</a>. Ce club fait partie de l'association <a href="https://minet.net" target="_blank">MiNET</a>, chargée de la gestion du réseau informatique de la <abbr title="MAISon des ELèves">MAISEL</abbr>.<p>
                <p>Nous organisons des <a href="ateliers.php">ateliers de formation</a> durant lesquels des intervenants qualifiés (internes ou externes) viennent partager leur connaissances auprès des élèves de Télécom SudParis et Télécom Ecole de Management. Ces ateliers sont interactifs et vivant : ils apprennent à l'aide de cas pratiques et peuvent poser leurs questions à l'intervenant. La formation se conclue avec l'achèvement de l'exercice (un pendu, etc...)
                    <br />Pour ceux qui souhaitent revoir le cours ou ceux qui n'ont pas pu venir, les supports sont postés sur notre site Web <a href="ateliers.php">ici</a> le soir-même. </p>
                <p>Tous les jeudi soir, nous tenons des "soirées Code" où les personnes interessées par la programmation peuvent se réunir, travailler sur des projets personnels ou en équipe et partager leurs connaissances et leurs idées. </p>
                <p>Nous rejoindre sur Facebook : <a href="https://www.facebook.com/groups/LeClubCode/" target="_blank"> https://www.facebook.com/groups/LeClubCode/</a></p><p>
                    Nous suivre sur Twitter : <a href="https://twitter.com/clubcodetmsp" target="_blank">https://twitter.com/clubcodetmsp</a></p>
            </div>

            <div class="col-sm-5">
                <img src="" alt="Equipe 2016-2017" />
            </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="equipePresentation">
        <div class="panel-heading"><h2>Equipes</h2></div>
        <div class="panel-body">

            <h3>Année 2016-2017</h3>

            <ul>
                <li>Présidente : Katia Récard (<a target="_blank" href="http://www.github.com/kat3891">kat3891</a>)</li>
                <li>Vice-Présidents : Alex Breux (<a target="_blank" href="http://www.github.com/AlexBreux">AlexBreux</a>) et Théo Moffelein (<a target="_blank" href="https://github.com/Meothof">Meothof</a>)</li>

            </ul>

            <h4>Collaborateurs</h4>

            <ul>
                <li>Antoine Morrier (<a target="_blank" href="http://www.github.com/qnope">qnope</a>)</li>
                <li>Paul Jarleton (<a target="_blank" href="http://www.github.com/sarlam">sarlam</a>)</li>
            </ul>

            <h3>Année 2015-2016</h3>

            <ul>
                <li>Président : Antoine Morrier (<a target="_blank" href="http://www.github.com/qnope">qnope</a>)</li>
                <li>Vice-Président : Paul Jarleton (<a target="_blank" href="http://www.github.com/sarlam">sarlam</a>)</li>
            </ul>

            <h4>Collaborateurs</h4>

            <ul>
                <li>Jean-Edouard Reuglewicz</li>
            </ul>

            <h3>Année 2014-2015</h3>

            <ul>
                <li>Président : Nicolas Merle</li>
            </ul>

            <h3>Année 2013-2014</h3>

            <ul>
                <li>Président : Thomas Laurence</li>
            </ul>


        </div>
    </div>


</div>
{% endblock %}
